.add-panel.second-panel{
    border-right: none !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

/* button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
} */