@pa-util:registry=https://pwc-us-it-domain2.pkgs.visualstudio.com/_packaging/pinkteam/npm/registry/
//pwc-us-it-domain2.pkgs.visualstudio.com/_packaging/pinkteam/npm/registry/:username=VssToken
//pwc-us-it-domain2.pkgs.visualstudio.com/_packaging/pinkteam/npm/registry/:_password=YjJpNW12Nnl6NnZ4dWV3dmptZ3J5M2pqcHM1bHdtYmNlN29qeW9nYXQzMzN4bmxxN2dpcQ==
//pwc-us-it-domain2.pkgs.visualstudio.com/_packaging/pinkteam/npm/registry/:email=VssEmail
//pwc-us-it-domain2.pkgs.visualstudio.com/_packaging/pinkteam/npm/registry/:always-auth=true