<!-- <trident-roles [appRoles]="resolvedRoles"></trident-roles> -->
<div class="modal-backdrop" *ngIf="hideBackground"></div>
<div id="role-list" class="row">
  <div class="col-sm-12">
    <!--
      [configuration], how to create the table (attributes, columns, sorting and filter methods, etc)
      [listComponent], the angular component where the list elements are stored and handled
    -->
    <app-dynamic-table
      [editDisabled] = "false"
      [deleteDisabled] = "false"
      [showAddBtn] = "true"
      [configuration] = "searchConfig"
      [listComponent] = "_self"
    ></app-dynamic-table>
  </div>
</div>

<div id="role-detail">
  <app-role-detail *ngIf="roleToEdit"
      [role]="roleToEdit"
      [updating] = "updating"
      (notifyCreate)="createRole( $event )"
      (notifyUpdate)="updateRole( $event )"
      (notifyCloseComponent)="closeRoleDetails()">
  </app-role-detail>
</div>
