<div id="role-list" class="row">
  <div class="col-sm-12">
    <!--
      [configuration], how to create the table (attributes, columns, sorting and filter methods, etc)
      [listComponent], the angular component where the list elements are stored and handled
    -->
    <app-dynamic-table
      [configuration] = "searchConfig"
      [listComponent] = "_self"
    ></app-dynamic-table>
  </div>
</div>

<div id="role-detail">
  <app-role-detail *ngIf="roleToEdit"
      [role]="roleToEdit"
      (notifyUpdate)="updateRole( $event )"
      (notifyDelete)="deleteRole( $event )"
      (notifyCloseComponent)="closeRoleDetails()">
  </app-role-detail>
</div>
