<!-- <login-component></login-component> -->
<toaster-container [toasterconfig]="config"></toaster-container>
<div class="nav-template template-theme-one">

    <!--TOP MENU BAR-->
    <nav class="navigation nav-box-shadow">
        <div class="top-bar">
            <div class="sidebar-ctrl-box" *ngIf="isLogged">
                <a class="hamberger-btn" (click)="sidebarCollapse();"><i class="appkiticon icon-outline-menu-view"></i></a>
            </div>
            <div class="logo-box">
                <img class="logo" src="assets/images/component/pwc_logo_header_2x.png"></div>
            <div class="app-name border-left d-none d-sm-block" *ngIf="isLogged">User Role Manager</div>
            <!-- <div class="app-name border-left d-block d-sm-none">Application</div> -->

            <!-- SEARCH BAR -->
            <!--             <div class="flex-right global-search search-toggle-md">
                <div class="search-block search-default">
                    <div class="search-btn"><i class="appkiticon icon-outline-search"></i></div>
                    <input type="text" class="input-default search-content pull-left" name="defaultSearchBox" value=""
                        placeholder="Search">
                    <span class="delete-wrapper display-none"><i class="icon-outline-circle-delete input-delete"></i></span>
                </div>
                <span class="text-primary search-toggle-btn d-lg-none">Cancel</span>
            </div>
            <div class="search-btn flex-right d-lg-none search-toggle-btn border-left-sm  topbar-padding-mini topbar-padding-sm">
                <i class="appkiticon icon-outline-search action-icon"></i>
            </div> -->

            <div class=" topbar-padding-mini topbar-padding-tiny-sm topbar-padding-md d-sm-none toggle-navbar-fold-xs">
                <i class="appkiticon icon-outline-vertical-more action-icon"></i>
            </div>
            <span class="space w-100 d-sm-none d-block"></span>

            <div class="navbar-fold-xs fold flex-right">

                <!-- USER NAME AND LOGOUT -->
                <div class="logout-container border-left-style">
                    <div id="user-avatar" class="user-name" (click)="togglePopUp();">{{firstInitial}}{{lastInitial}}</div>
                    <div class="popup user-profile-container" [class.popUp-no-display]="showPupUpUser">
                        <div class="profile-header">
                            <div class="user-name">{{firstInitial}}{{lastInitial}}</div>
                            <div class="user-text">
                                <span class="user-full-name">{{uName}}{{uLastNam}}</span>
                            </div>
                        </div>
                        <div class="profile-footer" *ngIf="firstInitial">
                            <i class="appkiticon icon-fill-logout icon-size-16 logout-svg"></i>
                            <span (click)='logout()'>Logout</span>
                        </div>
                        <div class="profile-footer" *ngIf="!firstInitial">
                            <i class="appkiticon icon-fill-logout icon-size-16 login-svg"></i>
                            <span (click)='login()'>Login</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- SIDE BAR BUTTONS -->
    <div class="content" >
        <div id="sidebar" class="left-nav" [class.active]="showSidebar" *ngIf="isLogged">
            <ul class="left-nav-item-list">
                <li class="item active">
                    <a class="item-content" routerLink="/users" routerLinkActive="active">
                        <i class="appkiticon icon-outline-person item-icon" ></i>
                        <span class="item-name">Users</span>
                    </a>
                </li>
                <li class="item">
                    <a class="item-content" routerLink="/roles" routerLinkActive="active">
                        <i class="appkiticon icon-outline-settings item-icon" ></i>
                        <span class="item-name">Roles</span>
                    </a>
                </li>
                <li class="item">
                    <a class="item-content" routerLink="/requests" routerLinkActive="active">
                        <i class="appkiticon icon-fill-convert item-icon" ></i>
                        <span class="item-name">Requests</span>
                    </a>
                </li>
                <li class="item">
                    <a class="item-content" routerLink="/camundauser" routerLinkActive="active">
                        <i class="appkiticon icon-outline-person item-icon"></i>
                        <span class="item-name">Camunda User</span>
                    </a>
                </li>               
            </ul>
        </div><!-- attention, no space here-->
        <div class="right-content">
            <div class="example-item">
                <div class="example-item-content">
                    <div class="content-box" *ngIf="isLogged">
                        <router-outlet></router-outlet>
                    </div>
                    <div class="content-box" *ngIf="!isLogged">
                        <h1>Logged out.</h1>
                        <button (click)="login()">Login</button>
                    </div>
                </div>
            </div>
            <div class="footer col-12" *ngIf="isLogged">
                <div class="foot-left ellipsis"></div>
                <div class="foot-left" title="&#xA9; 2017 PwC. All rights reserved. PwC refers to the US member firm of the PwC network or one of its subsidiaries or affiliates.">&#xA9;
                    2017 PwC. All rights reserved. PwC refers to the US member firm of the PwC network or one of
                    its subsidiaries or affiliates.</div>
                <ul class="nav navbar-nav nav-footer pull-right">
                    <li>Terms of use</li>
                    <li>Privacy policy</li>
                    <li>Full legal</li>
                </ul>
            </div>

        </div>
    </div>
</div>