<div id="role-list" class="row">
  <div class="col-sm-12" *ngIf="role">
    <app-dynamic-table [showAddBtn]="showAddBtn" [configuration]="searchConfig" [listComponent]="_self"></app-dynamic-table>
  </div>
</div>

<app-request-detail id="request-detail" *ngIf="requestToEdit" 
  [formAdd]="formAdd"  
  [request]="requestToEdit"
  (notifyInitiate)="initiateRequest( $event )"
  (notifyApprove)="approveRequest($event)"
  (notifyReject)="rejectRequest($event)"
  (notifyDelete)="deleteRequest( $event )"
  (notifyCloseComponent)="closeRequestDetails()">
</app-request-detail>