<div id="role-list" class="row">
  <div class="col-sm-12">
    <app-dynamic-table [showAddBtn] = "showAddBtn" [configuration]="searchConfig" [listComponent]="_self"></app-dynamic-table>
  </div>
</div>

<div id="request-detail" *ngIf="requestToAdd">
  <app-request-detail 
    [checkFormType] = "fromType"
    [getFromValue] = "tableSelectedData"
    (notifyUpdate)="updateRequest( $event )"
    (notifyAdd)="addRequest( $event )"
    (notifyDelete)="deleteRequest( $event )"
    (notifyApprove)= "approveInitiation($event)"
    (notifyReject) = "rejectInitiation($event)"
    (notifyCloseComponent)="closeRequestDetails()">
  </app-request-detail>
</div>