<div class="table-wrapper with-caption with-foot">
  <div class="table-responsive-wrapper">
    <table class="table table-title table-pagination table-striped table-sort table-search table-filter ">
      <caption>
        {{Table.search.title}}
        <div class="search-box pull-left">
          <div class="search-block search-default-sm">
            <div class="search-btn"><i class="appkiticon icon-outline-search"></i></div>
            <input type="text" class="input-default search-content pull-left" value="" placeholder="Search"
            [ngModel]="search.keywords.value" (change)="search.keywords.change($event, listComponent, Table)" #searchBox>
            <span class="delete-wrapper display-none"><i class="icon-outline-circle-delete input-delete"></i></span>
          </div>
        </div>
        <div class="search-box pull-right" *ngIf="showAddBtn">
          <button class="button button-primary" type="button"(click)="listComponent[Table.actions.create.method]()">{{Table.actions.create.title}}</button>
        </div>
      </caption>
      <thead>
        <tr>
          <th>Actions</th>
          <th *ngFor="let attr of Table.search.fieldsToEval" ts-default="" class="ng-isolate-scope tablesort-sortable tablesort-asc">
            <span>
            {{attr.title}}
            </span>
            <i class="no-sort" (click)='search.sort.change($event, listComponent, attr.name, Table)'>
            </i>
          </th>
        </tr>
      </thead>
      <tfoot>
        <tr class="table-footer">
          <td colspan="4">
            <div class="pagination-detail pull-left">
              <div>
                <div class="dropdown dropdown-sample dropdown-default">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{search.perPage.value}} / page</button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let amount of search.perPage.options">
                      <a (click)="search.perPage.change(amount, listComponent, Table)">{{amount}} / page</a>
                    </li>
                  </ul>
                  <i class="appkiticon icon-outline-down-chevron" data-toggle="dropdown"></i>
                </div>
              </div>
              <span>
              {{search.result.chunk.interval.start}}-{{search.result.chunk.interval.end}} of {{search.result.total.items}} items
              </span>
            </div>
            <div class="pagination pull-right">
              <ul class="nav navbar-nav pull-right">
                <li>
                  <i class="icon-outline-left-chevron" (click)="search.page.move(listComponent, -1, Table)"></i>
                </li>
                <li><span><input type="text" class="current-page" value="{{search.page.value}}"> of {{search.result.total.pages}}</span></li>
                <li>
                  <i class="icon-outline-right-chevron" (click)="search.page.move(listComponent, 1, Table)"></i>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let item of search.result.items" data-toggle="modal">
          <td class="table-row-actions">
            <i class = "appkiticon icon-fill-delete" (click)="listComponent[Table.actions.delete.method](item.id, this)" title="{{Table.actions.delete.title}}"></i>
            <i class = "appkiticon icon-fill-edit" (click)="listComponent[Table.actions.update.method](item, this)" title="{{Table.actions.update.title}}" data-toggle="modal"></i>
          </td>
          <td *ngFor="let attr of Table.search.fieldsToEval" ts-default="" class="ng-isolate-scope tablesort-sortable tablesort-asc">
            {{attr.value ? item[attr.value]() : item[attr.name]}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>